<ul id="brotherdropdown" class="dropdown-content">
    <li><a href="/brothers?who=all" class="blue-text">All</a></li>
    <li class='template' style="display: none"><a href="/brothers?who=class" class="blue-text light">text</a></li>
</ul>
<nav class="bg-dark text-white" role="navigation">
    <div class="nav-wrapper container">
        <a class="brand-logo" href="/" id="logo-container"><img src="media/general/crest_small.png" vspace="15"></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/rush" class="white-text text-lighten-2">
                    <span>RUSH</span>
                </a>
            </li>
            <li>
                <a class="dropdown-button white-text text-lighten-2" href="#" data-activates="brotherdropdown">
                    <span>BROTHERS</span>
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
        <ul class="side-nav" id="nav-mobile" style="left: -250px;">
            <li class="active"><a href="/" class="white-text text-lighten-2">HOME</a></li>
            <li><a href="/rush" class="white-text light">RUSH</a></li>
            <li><a href="/brothers?who=all" class="white-text light">BROTHERS</a></li>
        </ul><a class="button-collapse white-text" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>
    </div>
</nav>